<div class="login-page">
    <div class="card p-4">
        <form *ngIf="!forgotPassword" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Email</label>
                <input type="email" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="form-group d-flex justify-content-between align-items-end">
                <button (click)="onSubmit()" class="btn btn-primary btn-cart-items">Login</button>
                <a href="#" class="cp" (click)="onForgotPassword()">Forgot Password?</a>
            </div>
        </form>

        <div *ngIf="forgotPassword && !emailSubmitted">
            <h5 class="mb-0">Reset Password</h5>
            <small>Please enter your email address to request a password reset.</small>
            <form class="mt-4" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" formControlName="email" class="form-control"
                        [ngClass]="{ 'is-invalid': emailForChangingPW && pw.email.errors }" />
                    <div *ngIf="emailForChangingPW && pw.email.errors" class="invalid-feedback">
                        <div *ngIf="pw.email.errors.required">Email is required</div>
                        <div *ngIf="pw.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                <div class="form-group">
                    <button (click)="sendEmail()" class="btn btn-primary btn-cart-items">Send Email</button>
                    <!-- <button (click)="onCancel()" class="btn btn-primary btn-cart-items">Cancel</button> -->
                </div>
            </form>
        </div>
        <div *ngIf="emailSubmitted">
            <h5 class="mb-0">Change Password</h5>

            <form class="mt-4" [formGroup]="confirmNewPassword" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>New Password</label>
                    <input  type="password" formControlName="password" class="form-control"
                        [ngClass]="{ 'is-invalid': changePasswordSubmitted && cpw.password.errors }" />
                    <div *ngIf="changePasswordSubmitted && cpw.password.errors" class="invalid-feedback">
                        <div *ngIf="cpw.password.errors.required">Password is required</div>
                        <div *ngIf="cpw.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Confirm New Password</label>
                    <input type="password" formControlName="confirmPassword" class="form-control"
                        [ngClass]="{ 'is-invalid': changePasswordSubmitted && cpw.confirmPassword.errors }" />
                    <div *ngIf="changePasswordSubmitted && cpw.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="cpw.confirmPassword.errors.required">Password is required</div>
                        <div *ngIf="cpw.confirmPassword.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>

                <div class="form-group">
                    <button (click)="changePW()" class="btn btn-primary btn-cart-items">Change Password</button>
                    <!-- <button (click)="onCancel()" class="btn btn-primary btn-cart-items">Cancel</button> -->
                </div>
            </form>
        </div>
    </div>
</div>