.navbar {
  position: fixed;
  width: 100%;
  z-index: 10;
  .btn-cart-items {
    color: #563d7c;
    background-color: white;
    border-color: white;
  }
  .btn-cart-items:hover {
    color: #563d7c;
    background-color: white;
    border-color: white;
  }
}
.bg-light {
  background-color: #563d7c !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  color: white;
  .navbar-brand,
  .nav-link {
    color: white !important;
  }
  .cart-count
  {
    position: absolute;
    top: 4px;
    right: 7px;
    border: 1px solid white;
    border-radius: 50%;
    width: 20px;
    height: 22px;
    text-align: center;
    background: #563d7c;
    color: white;
    font-size: 12px;
  }
}
